@font-face {
 font-family: "Milestone";
 src: url("./../police/Milestone.otf");
}
@font-face {
 font-family: "Coolvetica";
 src: url("./../police/coolvetica.ttf");
}
:root {
 	barre: 0px;
}
*{
	box-sizing:border-box;
}
html,body{
	scroll-behavior: smooth;
}
body{
	font-size: 100%;
	width: 100vw;
	font-family: "Coolvetica",sans-serif;
	background-color: #BD2F2B;
	color:white;
}
@import "./normalize.scss";
.header {
  transition: 2s;
  display: flex;
  flex-direction:column;
  align-items:center;
  height: calc(100vh - var(--barre));
  width: 100%;
  position: relative;
  h1 {
    text-align: center;
    font-size: 3.5em;
    font-family:"Milestone",serif;
    color: white;
    margin:0;
    margin-top:2%;
  }
  .header__logo{
  	width: 50vw;
  	height: auto;
  	animation:bounce 10s infinite;
  	animation-delay:1s;
  	margin-top: 12%;
  	transform-origin:top center;
  	box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
  	border-radius: 50%;
  }
  .diaporama__img
  {
  	width: auto;
  	height: 25vh;
  	margin-top: 5%;
  }

}
@keyframes bounce{
	from{transform:rotate(0deg);}
	5%{transform:rotate(30deg);}
	15%{transform:rotate(-30deg);}
	23%{transform:rotate(0deg);}
	to{transform:rotate(0deg);}
}

@keyframes float{
	from{top:85%;}
	50%{top:90%;}
	to{top:85%;}
}

hr:before, hr:after { content: ''; }
hr {
  border: 0;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
 &.dots {
  border-width: 0px 0px 30px 10px;
  border-style: solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="50,9 60.5,39.5 92.7,40.1 67,59.5 76.4,90.3 50,71.9 23.6,90.3 32.9,59.5 7.2,40.1 39.4,39.5" fill="white"/></svg>') 0% 0% 100% repeat;
   width: 216px;
}
}

.header__visit
{
	text-align: center;
	display: block;
	text-decoration: none;
	color:white;
	width: 100%;
	font-size: 1.3em;
	margin-top: 5%;
	animation: 3s infinite ease-in-out float;
	position: absolute;
	top: 85%;
	left: 0;
}
#tacos
{ height: calc(100vh - var(--barre));
	width: 100%;
	margin-top: var(--barre);
}
.burgermenu
{
	text-decoration: none;
	color: white;
	font-size: 1.5em;
	position: fixed;
	top: 2%;
	left: 3%;
	z-index: 1000;
}
#menu
{
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.9);
	color: white;
	 ul
	{
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items:center;
		justify-content: space-evenly;
		height: 90vh;
		width: 100vw;
		padding: 0;
	}
	 li
	{
		display: inline-flex;
		font-size: 2em;

	}
	a{
		text-decoration: none;
		color: white;

	}
}