@font-face {
 font-family: "Milestone";
 src: url("./../police/Milestone.otf");
}
@font-face {
 font-family: "Coolvetica";
 src: url("./../police/coolvetica.ttf");
}
:root {
 	barre: 0px;
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    border-radius: 10px;
    background: transparent;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: white;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

*{
	box-sizing:border-box;
}
html,body{
	scroll-behavior: smooth;
}
body{
	font-size: 99%;
	font-family: "Coolvetica",sans-serif;
	background-color: #BD2F2B;
	width: 100%;
	overflow-x:hidden;
	color:white;
}
@import "./normalize.scss";
.header {
  transition: 2s;
  display: flex;
  flex-direction:column;
  align-items:center;
  height: calc(100vh - var(--barre));
  width: 100%;
  position: relative;
 .slogan
  {
  	display: none;
  }
  h1 {
    text-align: center;
    font-size: 3.5em;
    font-family:"Milestone",serif;
    color: white;
    margin:0;
    margin-top:2%;
  }
  .header__logo{
  	width: auto;
  	height: 25vh;
  	animation:bounce 10s infinite;
  	animation-delay:1s;
  	margin-top: 12%;
  	transform-origin:top center;
  	box-shadow: 10px 5px 5px rgba(0,0,0,0.2);
  	border-radius: 50%;
  }
  .diaporama__img
  {
  	width: auto;
  	height: 25vh;
  	margin-top: 5%;
  }

}
@keyframes bounce{
	from{transform:rotate(0deg);}
	5%{transform:rotate(30deg);}
	15%{transform:rotate(-30deg);}
	23%{transform:rotate(0deg);}
	to{transform:rotate(0deg);}
}

@keyframes float{
	from{top:85%;}
	50%{top:90%;}
	to{top:85%;}
}

hr:before, hr:after { content: ''; }
hr {
  border: 0;
  max-width: 100%;
  background-position: 50%;
  box-sizing: border-box;
 &.dots {
  border-width: 0px 0px 30px 10px;
  border-style: solid;
  border-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><polygon points="50,9 60.5,39.5 92.7,40.1 67,59.5 76.4,90.3 50,71.9 23.6,90.3 32.9,59.5 7.2,40.1 39.4,39.5" fill="white"/></svg>') 0% 0% 100% repeat;
   width: 216px;
}
}

.header__visit
{
	text-align: center;
	display: block;
	text-decoration: none;
	color:white;
	width: 100%;
	font-size: 1.3em;
	margin-top: 5%;
	animation: 3s infinite ease-in-out float;
	position: absolute;
	top: 90%;
	left: 0;
}
#tacos
{ 	height: calc(200vh - var(--barre));
	width: 100%;
	margin-top: var(--barre);
	text-align: center;
	h2
	{
		font-family: Milestone,sans-serif;
		font-size: 2.5em;
		padding-top: 7%;
		text-align: center;
	}
	a{
		text-decoration: none;
		color: white;
		font-size: 3em;
		grid-area:link;
	}
}
.burgermenu
{
	text-decoration: none;
	color: white;
	font-size: 2em;
	position: fixed;
	top: 2%;
	left: 5%;
	z-index: 1000;
	transition : 1.5s;
}
.anim_menu{
	transform:rotate(-720deg);
}
#menu
{
	height: 100vh;
	width: 100vw;
	position: fixed;
	display: none;
	top: 0;
	left: 0;
	z-index: 10;
	background-color: rgba(0,0,0,0.9);
	color: white;
	 ul
	{
		display: flex;
		flex-direction: column;
		align-content: center;
		align-items:center;
		justify-content: space-evenly;
		height: 90vh;
		width: 100vw;
		padding: 0;
	}
	 li
	{
		display: inline-flex;
		font-size: 2em;

	}
	a{
		text-decoration: none;
		color: white;

	}
}
.tacos__produit
{
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	display: flex;
	flex-direction:column;
	align-items:center;
	//border: 4px solid black;
	border-radius: 20px;
	height: 19%;
	background-color: #701C1A;
	//background-color: white;
	margin-top: 2vh;
	margin-bottom: 2.5vh;
	position: relative;
	transition:1s;
	transform:rotateY(0);
	&.go
	{
		transform:rotateY(0.5turn);
	}
	&.none
	{
		border: 0;
	}
	h3
	{
		font-family: Milestone,sans-serif;
		font-size: 2em;
		margin:0;
		padding-top: 5%;
		b
		{
		font-size: 1.05em;
		//color: gold;
		}
	}
	hr
	{
		//border: 2px solid black;
		width: 100%;
		margin: 1%;
	}
	.produit__image
	{
		display: flex;
		justify-content:center;
		align-items:center;
		overflow: hidden;
		img
			{
				width: 70vw;
				height: 70vw;
			}
	}
	.produit__back
	{
		position: absolute;
		padding-top: 5%;
		top: 0;
		left: 0;
		height: 100%;
		width: 101%;
		display: none;
		flex-direction:column;
		align-items:center;
		background-color: black;
		transform:rotateY(0.5turn);
		transition:1s;
		border-radius: 20px;
		&.go
		{
			display: flex;
		}
		p
		{
			width: 80%;
			height: 50%;
			font-size: 1.2em;
		}
		.back__prix
		{
			font-size: 2em;
		}
	}
	
}
#menurestaurant
{
	height: calc(100vh - var(--barre));
	width: 100%;
	text-align: center;
	padding-top: 4vh;
	color:white;
	display: flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
	a{
		text-decoration: none;
		color: white;
		font-size: 3em;
	}
	h2
	{
		font-family: Milestone,sans-serif;
		font-size: 2.5em;
		text-align: center;
		margin: 0;
		padding-bottom: 10%;
		color:white;
	}
	.menut
	{
		height: 16%;
		width: 90%;
		border-radius: 30px;
		//border: 3px solid black;
		background: no-repeat center/180% url('./../img/tacos1.png');
		h3
		{
			margin: 0;
		}
		p
		{
			margin: 2%;
		}
		.tarif
		{
			font-size: 1.5em;
			color:white;
		}
	}
	.menu1, .menu2, .menu3, .menu4
	{
		height: 100%;
		width: 100%;
		border-radius: 30px;
	}
	.menu1{
		background-color: rgba(green, 0.3);
	}
	.menu2{
		background-color: rgba(blue, 0.3);
	}
	.menu3{
		background-color: rgba(coral,0.4);
	}
	.menu4{
		background-color: rgba(brown,0.6);
	}
}
#restaurant
{
	height: calc(100vh - var(--barre));
	width: 100%;
	text-align: center;
	display: flex;
	flex-direction:column;
	justify-content:space-evenly;
	align-items:center;
	h2{
		font-family: Milestone,sans-serif;
		font-size: 2.5em;
	}
	p{
		width: 85%;
		display: block;
		margin:0 auto;
		text-align: center;
	}
	img
	{
		width: 85%;
		height: auto;
	}
	a{
		text-decoration: none;
		color: white;
		font-size: 3em;
	}
}
#contact
{
	height: calc(100vh - var(--barre));
	width: 100%;
	margin-top: 10vh;
	text-align: center;
	display: flex;
	flex-direction:column;
	justify-content:space-between;
	align-items:center;
	.contact__numero {
			display: flex;
			flex-direction:column;
			justify-content:space-around;
			height: 20%;
	}
	h2{
		font-family: Milestone,sans-serif;
		font-size: 2.5em;
	}
	#map
	{
		width: 80%;
   		max-height: 50%;
   		min-height: 40%;
   		margin: 0 auto;
	}
	.footer
	{
		background-color: white;
		border-top: 4px solid black;
		margin-top: 5vh;
		height: 10%;
		color: black;
		width: 100%;
	}
}

@import "./responsive.scss";